@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 10px;
}

html,
body {
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4rem;
  position: relative;
}

#root {
  min-height: 100vh;
  position: relative;
}

.overflow {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clocks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  min-height: calc(100vh - 2rem);

  .clock {
    background-color: #ddd;
    border-radius: 0.5rem;
    margin: 1rem;
    min-width: 180px;
    // max-width: 250px;
    padding: 1.5rem 4rem;
    text-align: center;
    // flex-grow: 1;
    // flex-basis: 0;
  }
}
